{% load static %}
<h1>{{ pregunta.pregunta_text }}</h1>

<link rel="stylesheet" type="text/css" href="{% static 'encuestas/style.css' %}"> 
<ul>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'encuestas:corregir' pregunta.id %}" method="post">
{% csrf_token %}
{% for opcion in pregunta.opcion_set.all %}
    <li><input type="checkbox" name="opcion" id="opcion{{ forloop.counter }}" value="{{ opcion.id }}" />
    <label for="opcion{{ forloop.counter }}"><tag1 style="color:red">{{ opcion.opcion_text }}</label></tag1></li>
{% endfor %}
</ul>
<input type="submit" value="Votar">
</form>
